	@import url('../css/fonts.css');
	
	
	html, body {
		margin: 0%;
		box-sizing: border-box;
		overflow-x: hidden;
		background: linear-gradient(to bottom right, #a80, deeppink);
		background-repeat: no-repeat;
		background-size: cover;
		
	}

	:root{
		
		/* - - - - - theme colors - - - - - - - - - */
		
		--text-green: #06d6a0;
		--text-yellow: #ffd166;
		--text-pink: #ef476f;
		--midnight-blue: #073b4c;
		--text-blue: #118ab2;
		--text-light: #686666da;
		--white: #ffffff;
		--midnight-green: #104f55;
		
		
		/* - - - -  theme font-families - - - - - - */
		
		--NanumGothic: "Nanum_Gothic", cursive;
		--Lora: "Lora", cursive;
		--LatoBold: "LatoBold", cursive;
		--Oswald: "Oswald", cursive;
	}
	
	
	/* - - - - - - Gradient color - - - - - - - - - -  */
	
	
	
	/* - - - x - - Gradient color - - - - - - x - - - */
	
	
/* - - - - - - - - - -  Global Classes - - - - - - -  */

	a{
		text-decoration: none;
		color: var(--text-green);
	}
	
	.flex-row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	ul{
		list-style-type: none;
	}

	
	h1 {
		font-family: var(--LatoBold);
		font-size: 2.5rem;
	}
	
	h3 {
		font-family: var(--Oswald);
		font-size: 1.3rem;
	}
	
	h2 {
		font-family: var(--Oswald);
		font-size: 1.3rem;
	}
	
	button.btn{
		border: none;
		border-radius: 2rem;
		padding: 1rem 3rem;
		font-size: 1rem;
		font-family: var(--Oswald);
		cursor: pointer;
	}
	
	span {
		font-family: var(--LatoBold);
	}
	
	.container {
		margin: 0 5vw;
	}
	
	
/* - - - - x - - - - -  Global Classes - - - x - - -  */


/* - - - - - - - - - -  nav bar - - - - - - -  */

	.nav {
		background: var(--text-yellow);
		padding: 0.2rem;
		height: 0rem;
		min-height: 10vh;
		overflow: hidden;
		transition: height .5s ease-in-out;
	}

	.nav  .nav-menu{
		justify-content: space-between;
	}
	
	.nav .toggle-collapse{
		position: absolute;
		top: 0%;
		width: 100%;
		cursor: pointer;
		display: none;
	
	}
	
	.nav .toggle-collapse .toggle-icons{
		display: flex;
		justify-content: flex-end;
		padding: 1.7rem .8rem;
		
	}
	
	.nav .toggle-collapse .toggle-icons i{
		font-size: 1.4rem;
		color: var(--text-gray);
	}
	
	.collapse{
		height: 26rem;
	}
		
	
	.nav .nav-items{
		display: flex;
		margin: 0;
		
	}
	
	.nav .nav-items .nav-link{
		padding: 1.6rem 1rem;
		font-size: 1.1rem;
		position: relative;
		font-family: var(--LatoBold);
		
	} 
	
	.nav .nav-items .nav-link:hover {
		background-color: var(--text-pink);
	}
	 
	.nav .nav-items .nav-link:hover a{
		color: var(--white);
	}
	
	
	.nav .nav-brand a{
		
		padding: 1rem 0;
		display: block;
		font-family: var(--NanumGothic);
		font-size: 2.0rem;
	
	}
	
	
	.nav .social{
		padding: 1.4rem 0;
		
	}
	
	.nav .social i{
		padding:0 .2rem;
	}
	
	.nav .social i:hover{
		color: var(--text-blue);
	}
/* - - --- - - x - - - -  nav bar - - - - x - -  */


/* ------------------- Main Content ------------- */
 


/* --------------- Site title -------------------- */

main .site-title {
	/* background: linear-gradient(to bottom right, #a80, deeppink);
	background-repeat: none; 
	background-size: cover; */
	height: 110vh;
	display: flex;
	justify-content: center;
	
}

main .site-title .site-background{
	padding-top: 10rem;
	text-align: center;
	color: var(--white);
}

main .site-title h1, h3{
	margin: .5rem;
}

main .site-title .btn{
	margin: 1.8rem;
	background: var(--text-yellow);
}

main .site-title .btn:hover {
	background: transparent;
	border: 1px solid var(--white);
	color: var(--white);
	font-size: 30px;
}


/* ---------x------ Site title --------------x----- */

/* ----------------- Blog Carousel ------------------ */


main .blog{
	background: url("./assets/abstract/abstracto1.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 100vh;
	width: 100%;
}

main .blog .blog-post{
	padding-top: 6rem;
}

main .blog-post .blog-content{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: 3rem 2rem;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
	padding: 2rem 0;
}

main .blog-content .btn-blog{
	padding: .7rem 2rem;
	background: var(--text-blue);
	margin: .5rem;
}

main .blog-content span {
	display: block;
}


section .container .owl-nav{
	position: absolute;
	top: 0%;
	margin: 0 auto;
	width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
	color: var(--text-blue);
	background: transparent;
	font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
	background: transparent;
	color: var(--text-pink);
}

.owl-theme .owl-nav[class*='owl-']{
	outline: none;
}

/* --------x-------- Blog Carousel ------------x----- */

/* -------------x----- Main Content ------------x---- */


/* - - - - - - -  View port less than or equal to 750px - - - -  */


	@media only screen and (max-width: 750px){
		.nav {
			background: var(--text-yellow);
		}
		
		.nav .nav-menu, .nav .nav-items{
			flex-direction: column;
		}
		
		.nav .toggle-collapse{
			display: initial;
		}
	}

/* - - - - x - - View port less than or equal to 750px - - - - - */
